<div class="container">
    <h1 class="text-center display-2 fw-bold text-primary">Add a New Product</h1>
    <form method="post" asp-action="AddProd">
        <div class="mb-3">
            <label for="pname" class="form-label">Product name</label>
            <input type="text" name="pname" class="form-control" id="pname">
            
        </div> 
        <div class="mb-3">
            <label for="desc" class="form-label">Description</label>
            <input type="text" name="desc" class="form-control" id="desc">
            
        </div> 
        <div class="mb-3">
            <label for="price" class="form-label">Price</label>
            <input type="number" name="price" class="form-control" id="price">
            
        </div>
        <

        <button type="submit" class="btn btn-lg btn-primary text-center">Add Product</button>
    </form>

    <div>

    

    </div>
</div>